Collaboration-2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><xs:schema xmlns:tns="urn:DocMan.service.livelink.opentext.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:DocMan.service.livelink.opentext.com">
  <xs:import schemaLocation="Collaboration-4.xsd" namespace="urn:Core.service.livelink.opentext.com"/>
  <xs:complexType name="Node">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Catalog" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Comment" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ContainerInfo" type="tns:NodeContainerInfo"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayType" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Features" type="tns:NodeFeature"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsContainer" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsReference" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsReservable" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsVersionable" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Metadata" type="tns:Metadata"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ModifyDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Nickname" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ParentID" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PartialData" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Permissions" type="tns:NodePermissions"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Position" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ReferenceInfo" type="tns:NodeReferenceInfo"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Released" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ReservationInfo" type="tns:NodeReservationInfo"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="VersionInfo" type="tns:NodeVersionInfo"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VolumeID" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceDataObject" abstract="true"/>
  <xs:complexType name="Version">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="1" maxOccurs="1" name="FileCreateDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" maxOccurs="1" name="FileCreator" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="FileDataSize" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="FileModifyDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Filename" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="FilePlatform" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="FileResSize" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="FileType" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Locked" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="LockedBy" nillable="true" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="LockedDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Metadata" type="tns:Metadata"/>
          <xs:element minOccurs="0" maxOccurs="1" name="MimeType" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ModifyDate" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="NodeID" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Number" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Owner" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ProviderID" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ProviderName" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VerMajor" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VerMinor" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Metadata">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeGroups" type="tns:AttributeGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AttributeGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/>
          <xs:element xmlns:q1="urn:Core.service.livelink.opentext.com" minOccurs="0" maxOccurs="unbounded" name="Values" type="q1:DataValue"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodeVersionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AdvancedVersionControl" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="FileDataSize" nillable="true" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="FileResSize" nillable="true" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Major" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="MimeType" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="SupportsAdvancedVersionControl" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VersionNum" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Versions" type="tns:Version"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VersionsToKeep" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodeReservationInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Reserved" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ReservedBy" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ReservedDate" nillable="true" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodeReferenceInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="OriginalID" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="OriginalType" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VersionNum" nillable="true" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodePermissions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AddItemsPermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="DeletePermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="DeleteVersionsPermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="EditAttributesPermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="EditPermissionsPermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ModifyPermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ReservePermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="SeeContentsPermission" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="SeePermission" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodeFeature">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BooleanValue" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="DateValue" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IntegerValue" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="LongValue" nillable="true" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="StringValue" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodeContainerInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ChildCount" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildTypes" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
