Collaboration-5.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><xs:schema xmlns:tns="urn:MemberService.service.livelink.opentext.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:MemberService.service.livelink.opentext.com">
  <xs:complexType name="Member">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Deleted" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceDataObject" abstract="true"/>
  <xs:complexType name="MemberPrivileges">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="CanAdministerSystem" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CanAdministerUsers" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CreateUpdateGroups" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CreateUpdateUsers" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="LoginEnabled" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PublicAccessEnabled" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Domain">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Member"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Member">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DepartmentGroupID" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="OfficeLocation" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Privileges" type="tns:MemberPrivileges"/>
          <xs:element minOccurs="1" maxOccurs="1" name="TimeZone" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Member">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="LeaderID" nillable="true" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>