MemberService-3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><xs:schema xmlns:tns="urn:Core.service.livelink.opentext.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:Core.service.livelink.opentext.com">
  <xs:complexType name="PageHandle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="FinalPage" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="NumberOfPages" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PageHandleID" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PageNumber" nillable="true" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PageSize" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceDataObject" abstract="true"/>
</xs:schema>